<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- awesome font from Google-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- jQuery library from google cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Solarized theme from bootswatch-->
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css"/>
    <script src="/post.js"></script>
</head>
<body>
{{#pedido}}
<div class="container-fluid">

        <div class="row">
            <div class="col-sm-2"><label><h2>Nombre Pedido:</h2></label></div>
            <div class="col-sm-6"><label><h3>{{nombrePedido}}</h3></label></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"> <label><h2>Items:</h2></label></div>
            <div class="col-sm-8"></div>
        </div>

        {{#items}}
        <div id="items" class="row">
            <div class="col-sm-2"> </div>
            <div id="oneItem">
                <div class="col-sm-2"><input id="itemCheck" type="checkbox" {{#striked}}checked{{/striked}} disabled class="checkbox"/></div>
                <div class="col-sm-6"><label><h3>{{#striked}}<del>{{/striked}}{{nombreItem}}{{#striked}}</del>{{/striked}}</h3></label></div>
            </div>
            <div class="col-sm-2"> </div>
        </div>
        {{/items}}

        <div class="row"></div>
</div>
<div class="container-fluid">
    <form action="/editar_pedido" method="post" role="form" class="form form-horizontal">
        <div class="form-group"><input class="form-control" type="hidden" name="idPedido" value={{idPedido}} hidden></div>
        <div class="form-group">
            <div class="col-sm-2 col-md-2"></div>

            <div><a class=" col-sm-2 col-md-2 btn btn-md btn-info form-control" href="/">Volver</a></div>
            <div><button class="col-sm-2 col-md-2 btn btn-md btn-info form-control" type="submit">Editar</button></div>
            <div class="col-sm-6 col-md-6"></div>
        </div>
    </form>
</div>
<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" id="deletePedidoBtn" class="col-sm-2 col-md-2 btn btn-md btn-danger" data-toggle="modal" data-target="#deleteModal">Borrar</button>
    <!-- Modal -->
    <div class="modal fade-in" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">You are going to delete {{nombrePedido}} </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>This will delete {{nombrePedido}} and all its items.</p>
                    <p>This operation can <strong>NOT</strong> be undone.</p>
                    <p>Do you want to delete {{nombrePedido}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-md btn-danger" data-dismiss="modal" onclick="post('/borrar_pedido', {idPedido:'{{idPedido}}' })">Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/pedido}}
</body>
</html>