<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- jQuery library from google cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Solarized theme from bootswatch-->
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css"/>
    <!-- awesome font from Google-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <script src="edicion_pedido.js"></script>
    <script src="checkboxes.js"></script>

</head>
<body>
<form action="pedidoEditado" method="post" role="form" class="form-horizontal">
    {{#pedido}}
        <input type="hidden" name="idPedido" value={{idPedido}}>
        <div class="form-group">
            <label for="nombrePedido" class="control-label col-sm-2"><h2>Nombre Pedido:</h2></label>
            <div class="col-sm-6"><input id="nombrePedido" name="nombrePedido" class="form-control" value={{nombrePedido}} /></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"><h2>Items:</h2></label>
            <!--<div class="col-sm-2"><button type="button" id="nuevoItem" class="btn btn-md btn-info">Nuevo Item</button></div>-->
            <div class="col-sm-8"></div>
        </div>
        <div class="form-group">
        </div>
        {{#items}}
        <div id="items" class="form-group">
            <div id="oneItem">
                <div class="col-sm-2"> <input rel="striked_rel" type="checkbox" {{#striked}}checked{{/striked}} class="form-control"/></div>
                <div class="col-sm-6"> <input name="nombreItem" id="nombreItemInput" type="text" class="form-control" value={{nombreItem}} /></div>
                <input name="idItem" id="idItem" type="hidden" value={{idItem}}>
                <div class="col-sm-2"><button type="button" id="deleteBtn" hidden class="btn btn-md btn-info">Delete</button></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        {{/items}}
        <div class="form-group">
        </div>
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-2"><a href="/detalle_pedido/{{idPedido}}" class="btn btn-md btn-info form-control">Cancelar</a></div>
            <div class="col-sm-2"><button type="submit" class="btn btn-md btn-info form-control">Enviar</button></div>
            <div class="col-sm-4"></div>
        </div>
    {{/pedido}}
</form>
</body>
</html>