<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- jQuery library from google cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Solarized theme from bootswatch-->
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css"/>
    <!-- awesome font from Google-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
        <h1> Listado de Pedidos:</h1>
        </div>
        <div class="col-sm-6"></div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
        <ul class="list-group">
        {{#pedidos}}
            <li class="list-group-item">
                <a href="detalle_pedido/{{idPedido}}"><h4>{{nombrePedido}}</h4></a>
            </li>
        {{/pedidos}}
        {{^pedidos}}
            <h3>Todavia no hay pedidos que mostrar</h3>
        {{/pedidos}}
        </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
        <a href="anadir_pedido.html" class="btn btn-info btn-lg"  type="button" id="anadirPedidoBtn">Nuevo pedido</a>
        </div>
    </div>
</div>
</body>
</html>